<p id="notice"><%= notice %></p>  
   

    <body >     
    <% @questions.shuffle.each_with_index  do |question, i| %>
   
    <div><% i %> <%=question.pregunta %></div>
    <div class="form_row">
      <% [ question.respuesta,  @questions.shuffle[0].respuesta, @questions.shuffle[1].respuesta, 
           @questions.shuffle[3].respuesta,  @questions.shuffle[0].respuesta ].each do |theme| %>
      <br><%= radio_button_tag 'radioboton', theme, @theme == theme %>
      <%= theme.humanize %>
    <% end %>     
      </div>
      <br >
      <% break if ( i == 10) %>
  
    <% end %>
  </body >