// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
 text-align: center;
    font-family: 'Covered By Your Grace', cursive;
    font-size:30px;}
h2{
text-align: center;
    font-family: 'Covered By Your Grace', cursive;
    font-size:30px;
}

p{
color:black;
font-family: 'Rancho', cursive;
font-size:15px;
}

footer{
   text-align: center;
}
